@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.nav-hamburger { display: none !important; }
.nav-desktop-links { display: flex !important; }

@media (max-width: 768px) {
  .nav-desktop-links { display: none !important; }
  .nav-hamburger { display: flex !important; }
}